/* body { */
/* background-color: black; */
/* display: flex; */
/* justify-content: center; */
/* align-items: center; */
/* height: 100vh; */
/* } */
/*  */
/* .myclass1 { */
/* height: 150px; */
/* width: 150px; */
/* border: 1px solid orange; */
/* background-color: white; */
/* position: absolute; */
/* top: 100px; */
/* right: 700px; */
/* z-index: 10; */
/* } */
/*  */
/* .myclass2 { */
/* height: 150px; */
/* width: 150px; */
/* border: 1px solid orange; */
/* background-color: white; */
/* position: absolute; */
/* top: 150px; */
/* right: 750px; */
/* z-index: 9; */
/* } */
/* .myclass3 { */
/* height: 150px; */
/* width: 150px; */
/* border: 1px solid orange; */
/* background-color: white; */
/* position: absolute; */
/* top: 200px; */
/* z-index: 8; */
/*  */
/* right: 800px; */
/* } */
/* .myclass4 { */
/* height: 150px; */
/* width: 150px; */
/* border: 1px solid orange; */
/* background-color: white; */
/* position: absolute; */
/* top: 250px; */
/*  */
/* right: 850px; */
/* z-index: 7; */
/* } */
/* .myclass5 { */
/* height: 150px; */
/* width: 150px; */
/* border: 1px solid orange; */
/* background-color: white; */
/* position: absolute; */
/* top: 300px; */
/* /* bottom: 900px; */
/* left: 1000px; */
/* */
/* right: 900px; */
/* z-index: 6; */
/* } */
/*  */
/* 
body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.myclass1 {
  width: 150px;
  height: 150px;
  border: 1px solid orange;
  background-color: white;
  position: absolute;
  top: 1500px;
  left: 150px;
  z-index: 10;
}
   */

