/* 1] simple selecter 
a] id 
b] class
c] tag name
d] grouping tag
e] universal tag */

/* 2] combination selector
a] child selecter (>)
b] decedent selecter (ansester) use space
c] adjecent sibbbling selecter [+] only next sibling 
d] general sibiling selecter [~] more than one sibbling not only next sibbling */

main>p{
    background-color: red;
    /* example of child selecter */
}

div>h1{
    background-color: yellowgreen;
}
main p{
    background-color: yellow;
    /* decedent selecter */
   
}
h1+p{
    background-color: aquamarine;
     /* adjecent sibbbling selecter */
}
h1~p{
    color: orange;
    /* general sibiling selecter */
}
div~p{
    background-color: red;
}