/* 02 - sept - 2024 */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 30px;
}

/* ABSOLUTE UNITS */
#px{
    width: 1440px;      /*every laptop has different*/
    background: red;
    height: 50px;
}

#cm{
    width: 38.1cm;
    height: 50px;
    background: pink;
}
#mm{
    width: 381mm;
    height: 50px;
    background: rgb(247, 147, 199);
}
#in{
    width: 15in;
    height: 50px;
    background: yellow;
}
#pc{
    width: 90pc;
    height: 50px;
    background: lightblue;
}
#pt{
    width: 1080pt;
    height: 50px;
    background: rgb(160, 206, 160);
}



/* RELATIVE UNITS */
/* % */
    #s1{
        border: 2px dashed;
        /* height: 50%;     direct child ko % height nahi de sakte */
        height: 50px;
        width: 70%;
        background-color: rgb(249, 255, 240);
    }
    #container{
        background-color: teal;
        width: 30%;
        height: 80%;
    }

/* vw vh */
    #section_vh_vw{
        background-color: aquamarine;
        width: 70vw;
        height: 30vh;
    }

/* vmin vmax */
/* effect visible when you resize the window */
    #vmin_vmax{
        background-color: rgb(218, 154, 218);
        width: 100vmin;
        height: 100vmax;
        padding: 0;
        
        margin: 0;
    }