*{
    box-sizing: border-box;
}
/* 

section{
    font-size: 3em;
}
div{
    font-size: 2em;
}
     */

html{
    font-size: 64px;
}
section{
    font-size: 16px;
}
aside{
    font-size: 1em;
}
div{
    font-size: 1rem
}