*{
    padding: 0;
    margin: 0;
}
nav{
    width: 100vw;
    height:250px ;
    background-color: grey;
    display: flex;
    overflow: auto;
}
div{
    min-width: 25vw;
    height: 200px;
    border: 2px solid;
    background-color: orange;
}