
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    border-radius: 100%;

    height: 100px;
    width: 100px;
     /* background-color: red;  */
    background-image: linear-gradient(red,yellow,orange);
}

div{
    width: 100vh;
}
div:hover{
     /* transform: translate(-300px);  */
    transform: rotate(180deg);
    transition-duration: 10s;
}
