body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
div{
    height: 30px;
    width: 30px;
    border-radius: 50%;

    border: 10px solid gray;
    border-top: 10px solid black;
    animation-name: loder;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: linear;   
}
@keyframes loder {
    from{}
    to{
        transform: rotate(360deg);
    }
}